@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.33;
  }
}
body {
  counter-reset: column_counter;
  background-color: darkviolet;
}
.navbar {
  counter-reset: line_counter;
  background-color: #1b1b1b;
  height: 10vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}
.navbar .testButton {
  background-color: #4CAF50;
  border-radius: 10px;
  border: none;
  color: white;
  display: inline-block;
  font-size: 2em;
  left: calc(100vw / 2 - 10vw / 2);
  padding: 15px 32px;
  position: relative;
  top: 10px;
}
.content-placeholder {
  position: relative;
  top: 12vh;
  z-index: -1;
}
.content-placeholder .container {
  border: #56aae0;
  font-size: 1em;
  width: 175px;
  float: right;
  clear: right;
  position: relative;
  margin-left: 1em;
  margin-right: 4em;
  margin-top: 4em;
}
.content-placeholder .container:hover {
  animation: opacity 0.5s;
  opacity: 0.33;
}
.content-placeholder .container::before {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  padding: 20px 20px;
  position: absolute;
  background: #fff;
  display: inline-block;
  top: -10px;
  left: -10px;
  content: "n\00B0" counter(line_counter) "." counter(column_counter);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-placeholder .container:nth-child(odd) {
  float: left;
  counter-increment: line_counter;
}
.content-placeholder .container:nth-child(even) {
  margin-right: 16em;
  counter-increment: column_counter;
}
.content-placeholder .container figure {
  z-index: -1;
  width: 400px;
  height: 250px;
  margin: unset;
}
.content-placeholder .container figcaption {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1em;
  height: 3em;
  background-color: black;
  color: white;
}
.content-placeholder .container img {
  width: 400px;
  height: 250px;
}
